<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Excel a XML</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>

  <nav class="navbar navbar-dark bg-dark navDes">
    <a class="navbar-brand" href="#">
      <img src="img/xlsToxml.png" width="71" height="30" class="d-inline-block align-top" alt="">
    </a>
    <span>Convertidor a XML</span>
  </nav>
