<%- include("partials/header") %>

<div class="headerXML">
    <h1>Generar archivo XML</h1>
</div>

<div class="row justify-content-center">
  <div class="col-sm-6 col-lg-5">
    <div class="card">
      <div class="card-body cardBodyE">
        <h5 class="card-title">Arrendamiento</h5>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFileLang1">
          <label class="custom-file-label" for="customFileLang" data-browse="Elegir">Seleccionar archivo...</label>
          <button class="btn btn-outline-light butttonXML" type="button" name="button">Generar XML</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-5">
    <div class="card">
      <div class="card-body cardBodyE">
        <h5 class="card-title">Venta de Inmuebles</h5>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFileLang">
          <label class="custom-file-label" for="customFileLang" data-browse="Elegir">Seleccionar archivo...</label>
          <button class="btn btn-outline-light butttonXML" type="button" name="button">Generar XML</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="exit">
  <a class="btn btn-light btn-lg" href="/logout" role="button">Salir</a>
</div>


</body>

</html>
