<%- include("partials/header") %>

<div class="headerXML">
    <h1>Generar archivo XML</h1>
</div>

<div class="row justify-content-center">

  <div class="col-lg-5 col-md-12 col-sm-12">
    <form class="" action="/converter" method="post" enctype="multipart/form-data">
      <div class="card">
        <div class="card-body cardBodyE">
          <h5 class="card-title">Arrendamiento</h5>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="arrendamientoF" name="arrendamientoArchivo">
            <label class="custom-file-label" for="customFileLang" data-browse="Elegir">Seleccionar archivo...</label>
            <button class="btn btn-outline-light butttonXML" type="submit" name="button">Generar XML</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-lg-5 col-md-12 col-sm-12">
    <form class="" action="" method="post">
      <div class="card">
        <div class="card-body cardBodyE">
          <h5 class="card-title">Venta de Inmuebles</h5>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inmueblesF">
            <label class="custom-file-label" for="customFileLang" data-browse="Elegir">Seleccionar archivo...</label>
            <button class="btn btn-outline-light butttonXML" type="button" name="button">Generar XML</button>
          </div>
        </div>
      </div>
    </div>
    </form>
</div>

<div class="exit">
  <a class="btn btn-light btn-lg" href="/logout" role="button">Salir</a>
</div>

<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

</body>

</html>
