<%- include("partials/header") %>

    <div class="container">
      <h1>Actividades Vulnerables</h1>
      <img src="img/xlsToxml.png" alt="">
      <div class="buttonContainer">
        <a class="btn btn-outline-light btn-lg" href="/login" role="button">Entrar</a>
        <!-- <a class="btn btn-outline-light btn-lg" href="/register" role="button">Registro</a> -->
      </div>
    </div>
  </body>
</html>
