<%- include("partials/header") %>

<body>
    <div class="container">
      <h1>Iniciar sesión</h1>
      <form class="form" action="/login" method="post">
        <input type="email" name="username" placeholder="Usuario">
        <input type="password" name="password" placeholder="Contraseña">
        <button class="btn btn-outline-light btn-lg" type="submit" name="button">Entrar</button>
      </form>
    </div>
  </body>
</html>
