<%- include("partials/header") %>

<div class="container">
  <h1>XML</h1>
  <textarea name="textAreaData" rows="10" cols="120">
    <%= xw.toString() %>
  </textarea>
</div>
<div class="download">
  <button class="btn btn-light btn-lg" type="button" name="button">Descargar</button>
  <!-- <a class="btn btn-light btn-lg" href="/logout" role="button">Descargar</a> -->
</div>
